<div class="container">
    <!-- Sidebar Menu -->
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><button>Home</button></li>
            <li><button>Messages</button></li>
            <li><button>Profile</button></li>
            <li><button>Settings</button></li>
        </ul>
    </div>
    
    <!-- Messages Section -->
    <div class="messages">
        <h2>following</h2>
        <ul class="user-list">
            <li *ngFor="let following of followings" class="user-item">
                <img [src]="following.following.profilePic" [alt]="following.following.userName" class="avatar">
                <span>{{ following.following.userName }}</span>
                <!-- <button class="message-button" (click)="sendMessage(user.followers.id)">Message</button> -->
            </li>
        </ul>
    </div>
</div>