<div class="login-container">
  <h1 style="padding: 20px;">welcome to mumbagram 🤝 </h1>
    <div class="login-box">
      <h2 class="login-title">Login</h2>
      
      <form [formGroup]="userForm" (ngSubmit)="logIn()">
        <div class="input-group">
          <label>Email / Username</label>
          <input type="text" formControlName="identifier" placeholder="Enter your email or username">
          <div class="error" *ngIf="userForm.get('identifier')?.touched && userForm.get('identifier')?.invalid">
            <span *ngIf="userForm.get('identifier')?.errors?.['required']">Email is required</span>
            <span *ngIf="userForm.get('identifier')?.errors?.['pattern']">Enter a valid email</span>
          </div>
        </div>
        
        <div class="input-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Enter your password">
          <div class="error" *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
            <span *ngIf="userForm.get('password')?.errors?.['required']">Password is required</span>
            <span *ngIf="userForm.get('password')?.errors?.['pattern']">Password must contain uppercase, lowercase, number, and special character</span>
          </div>
        </div>
        
        <!-- <div class="options">
          <div>
            <input type="checkbox" id="remember">
            <label for="remember">Remember me</label>
          </div>
        </div> -->
         <!-- <a href="#">Forgot password?</a> -->
        <button class="login-button" [disabled]="userForm.invalid">Login</button>
        
      </form>
      
      <a class="signup" >Don't have an account? <a routerLink="/registration" href="#">Sign up</a></a>
    </div>
  </div>

  
<!-- <p-button (click)="show()" label="Show" /> -->