<p>user-list works!</p>


    <div class="user-card" >
      <img class="user-avatar" [src] = "profilePic" alt="User">
      <!-- <span class="username">{{user.userName}}butto</span> -->
      <button class="admin-btn" (click)="openProfile(user.userName)">{{user.userName}}</button>
      <div class="user-actions">
        <!-- <button class="ban-btn" title="Ban Account" >🚫</button> -->
        <button class="delete-btn" title="Delete User" (click)="deleteUser(user.id)">🗑️</button>
      </div>
    </div>

    