<form [formGroup]="updatePassForm" class="modal"  >

    <div class="modal-content">

        <div class="input-group">
        
            <input type="currentPass" formControlName="currentPass" placeholder="Enter your currentPass">
            <div class="error" *ngIf="updatePassForm.get('currentPass')?.touched && updatePassForm.get('currentPass')?.invalid">
              <span *ngIf="updatePassForm.get('currentPass')?.errors?.['required']">currentPass is required</span>
              <span *ngIf="updatePassForm.get('currentPass')?.errors?.['minlength']">currentPass must be at least 8 characters</span>
              <span *ngIf="updatePassForm.get('currentPass')?.errors?.['pattern']">currentPass must contain uppercase, lowercase, number, and special character</span>
            </div>
          </div>
    
        <div class="input-group">
    
            <input type="updatedPass" formControlName="updatedPass" placeholder="Enter your updatedPass">
            <div class="error" *ngIf="updatePassForm.get('updatedPass')?.touched && updatePassForm.get('updatedPass')?.invalid">
              <span *ngIf="updatePassForm.get('updatedPass')?.errors?.['required']">updatedPass is required</span>
              <span *ngIf="updatePassForm.get('updatedPass')?.errors?.['minlength']">updatedPass must be at least 8 characters</span>
              <span *ngIf="updatePassForm.get('updatedPass')?.errors?.['pattern']">updatedPass must contain uppercase, lowercase, number, and special character</span>
            </div>
          </div>
          
          <div class="input-group">
           
            <input type="updatedPass" formControlName="confirmPass" placeholder="Confirm your updatedPass">
            <div class="error" *ngIf="updatePassForm.get('confirmPass')?.touched && updatePassForm.get('confirmPass')?.invalid">
              <span *ngIf="updatePassForm.get('confirmPass')?.errors?.['required']">Confirm updatedPass is required</span>
              <span *ngIf="updatePassForm.errors?.['updatedPassMismatch']">updatedPasss do not match</span>
            </div>
          </div>
          <button (click)="submit()">Submit</button>
          <button class="close-btn" (click)="cancle()">Cancel</button>

    </div>
    
</form>



